@CHARSET "UTF-8";

* {
	font-family: verdana;
}

a {
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: black;
}

.ui-selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ui-selectable li:hover {
	cursor: pointer;
}

.ui-selected {
	text-decoration: underline;
}

